

.grid-container {
    display: grid;
    grid-template-columns: 1fr 4fr;
}


.sidemenu {
    grid-column: 1 / 2;
    background-color: aqua;
}

.main-content {
    grid-column: 2 / 6;
}

.display-flex {
    display: flex;
    justify-content: space-around;
}

.flex-basis {
    flex-basis: auto;
    margin: 10px;
    padding: 10px;
    border: solid 3px gray;
}